@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

.body {
    min-block-size: 100vh;
    position: relative;
}

.main {
    container-type: inline-size;
}

.sign-up {
    
    &__img {
        inline-size: 100%;
        block-size: auto;
    }

    &__content {
        padding-inline: fluid(24, 40, 375, 768);
        padding-block-end: 44px;
    }

    &__form {
        margin-block-start: 16px;
    }

    &__list-item-icon {
        inline-size: rem(21);
        block-size: rem(21);
    }

    &__label {
        font-weight: var(--fw-2);
        font-size: var(--fs-label);
    }

    &__error {
        color: var(--clr-secondary);
        font-size: var(--fs-label);
        font-weight: var(--fw-2);
    }

    &__email {
        padding-block: 16px;
        padding-inline: 24px;
        margin-block-end: 16px;
        border-radius: rem(8);
        border: none;
        outline: rem(1) solid var(--clr-input);

        &:focus-visible {
            outline: rem(2) solid var(--clr-primary);
        }
    }

    &__button{
        @include m.button;
        padding: 16px;
    }
}

.modal {
    border: none;
    padding-inline: 24px;
    padding-block-start: 149px;
    padding-block-end: 70px;
    min-inline-size: 100%;
    min-block-size: 100%;
    z-index: 1000;

    &__icon {
        inline-size: rem(64);
        block-size: rem(64);
    }

    &__title {
        max-inline-size: 18ch;
    }
    
    &__desc {
        max-inline-size: 36ch;
        margin-block-end: 263px;
    }

    &__button {
        @include m.button;
        padding-inline: 100px;
        padding-block: 16px;
        transition: box-shadow 0.3s ease-in-out;

        &:hover, &:focus-visible {
            box-shadow: 0 rem(16) rem(32) var(--clr-btn-shadow);
        }
    }

    &__email {
        font-weight: var(--fw-2);
    }
}

.error {
    color: var(--clr-secondary);
    background-color: var(--clr-error-bg);
    outline: rem(2) solid var(--clr-secondary);

    &:focus-visible {
        outline: rem(2) solid var(--clr-secondary);
    }
}

.attribution {
    position: absolute;
    inset-block-end: 10px;
    inset-inline: 0;
    font-size: 12px;
    text-align: center;
    color: var(--clr-primary);
}

.attribution__link {
    border-radius: 3px;
    color: var(--clr-primary);
    text-decoration: underline;
    transition: color 0.3s;

    &:hover,
    &:focus-visible {
        color: var(--clr-attr);
    }

    &:focus-visible {
        outline: 3px solid var(--clr-attr);
        outline-offset: 2px;
    }
}